blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}
.top {
	margin: 0 auto;
    width:72%;
    height: 38px;
}
.top_content{
	float:right;
	margin-right:90px;
	margin-top:10px;
}
.top_content_li{
	display:inline-block;
	margin-left:20px;
		
}
.top_content_text{
	text-decoration:none;
	color:grey;
	font-size: 11px;
}
.banner{
	margin: 0 auto;
	width:60%;
	min-width:1200px; /* 防止窗口缩小元素挤到一起，设置一个最小宽度*/
	height:110px;
}
.logo{
	width:220px;
	height:55px;
	margin-top:30px;
	padding-left:0;
    vertical-align:middle;
    float:left;

}
.search{
	width:400px;
	height:40px;
	border:2px #1b80d8 solid;
	margin-top:30px;
	text-indent:10px;
	font-family: microsoft yahei;
    padding-left:0;
    vertical-align:middle;
    float: left;
}
.btn{
	padding-left:0;
    vertical-align:middle;
    float: left;
	color:white;
	background-color:#1b80d8;
	height:44px;
	cursor: pointer;
border:none;
font-size:16px;
margin-top:30px;
font-family: microsoft yahei;
}
.erweima{
	padding-left:0;
    vertical-align:middle;
    float:right;
	width:90px;
	height:100px;
margin-left:100px;
margin-top: 5px;
}
.nav{
	margin-top:5px;
	width:100%;
	min-width:1260px; /* 防止窗口缩小元素挤到一起，设置一个最小宽度*/
	height:48px;
	background:#1b80d8;
	display:flex;
	justify-content:space-around;
}
.nav_content_li{
	display:inline-block;	
}
[title="nav4"]:link{
	background:#1b80d8;
}
[title="nav4"]:hover{
	background:#2099ec;
}
[title="nav4"]:visited{
	background:#2099ec;
}
.nav_content_text{
	display:block;
	text-decoration:none;
	color:white;
	font-size:17px;
	width:130px;
	height:48px;
	text-align:center;
	  display: table-cell;
            vertical-align:middle;
			padding:0;
	}
[title="nav"]:hover{
	background:#2099ec;
}
.rule{
	margin: 0 auto;
    margin-top: 20px;
	width:60%;
	min-width:1100px; /* 防止窗口缩小元素挤到一起，设置一个最小宽度*/  
    background-color: white;
    height:200px; 
}
.rule_title{
	width: 200px;
	padding: 15px;
	font-size: 16px;
	margin-left: 12px;
}
.rule_content{
	margin-left: 20px;
	margin-top: 5px;
}
.ads{
	margin: 0 auto;
	width:77.3%;
	min-width:1100px;
	height:60px; 
	margin-top: 7px;	
}
.discuss_content_box{
	margin: 0 auto;
width:60%;
min-width:1100px;
background-color: rgb(255, 255, 255);
height: 1600px;
margin-top: 20px;
border:1px #1b80d8 solid;
}
.discuss_content_title{
	width: 100%;
	height: 50px;
	background-color: rgb(0, 105, 153);
}
.discuss_content_detail{
	margin-left: 70px;
	color: rgb(255, 255, 255);
	line-height: 50px;
	font-size: 15px;
}
.discuss_content_item{
	display: flex;
	flex-direction: row;
	border-bottom: 1px rgb(172, 172, 172) dashed;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
}
.discuss_content_author{
color: rgb(136, 136, 136);
font-size: 13px;
height: 20px;
margin-left: 365px;
width: 70px;
line-height: 34px;
text-align: center;
}
.footer{
	margin: 0 auto;
	width:60%;
	min-width:1200px; /* 防止窗口缩小元素挤到一起，设置一个最小宽*/
	background:rgb(255, 255, 255);
	margin-top:10px;
	height:230px;
	margin-bottom:10px;
	
}
.footer_item{
	display: inline-block;
	padding: 10px;
	font-size: 13px;
	color: rgb(133, 133, 133);
	margin-top: 30px;
}