blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}
.top {
	margin: 0 auto;
    width:72%;
    height: 38px;
}
.top_content{
	float:right;
	margin-right:90px;
	margin-top:10px;
}
.top_content_li{
	display:inline-block;
	margin-left:20px;
		
}
.top_content_text{
	text-decoration:none;
	color:grey;
	font-size: 11px;
}
.banner{
	margin: 0 auto;
	width:60%;
	min-width:1200px; /* 防止窗口缩小元素挤到一起，设置一个最小宽度*/
	height:110px;
}
.logo{
	width:220px;
	height:55px;
	margin-top:30px;
	padding-left:0;
    vertical-align:middle;
    float:left;

}
.search{
	width:400px;
	height:40px;
	border:2px #1b80d8 solid;
	margin-top:30px;
	text-indent:10px;
	font-family: microsoft yahei;
    padding-left:0;
    vertical-align:middle;
    float: left;
}
.btn{
	padding-left:0;
    vertical-align:middle;
    float: left;
	color:white;
	background-color:#1b80d8;
	height:44px;
	cursor: pointer;
border:none;
font-size:16px;
margin-top:30px;
font-family: microsoft yahei;
}
.erweima{
	padding-left:0;
    vertical-align:middle;
    float:right;
	width:90px;
	height:100px;
margin-left:100px;
margin-top: 5px;
}
.nav{
	margin-top:5px;
	width:100%;
	min-width:1260px; /* 防止窗口缩小元素挤到一起，设置一个最小宽度*/
	height:48px;
	background:#1b80d8;
	display:flex;
	justify-content:space-around;
}
.nav_content_li{
	display:inline-block;	
}
[title="nav"]:hover{
	background:#2099ec;
}
.nav_content_text{
	display:block;
	text-decoration:none;
	color:white;
	font-size:17px;
	width:130px;
	height:48px;
	text-align:center;
	  display: table-cell;
            vertical-align:middle;
			padding:0;
	}
	[title="nav5"]:link{
		background:#1b80d8;
	}
	[title="nav5"]:hover{
		background:#2099ec;
	}
	[title="nav5"]:visited{
		background:#2099ec;
	}
.select{
	margin: 0 auto;
    margin-top: 20px;
    width:60%;
    min-width:1200px; /* 防止窗口缩小元素挤到一起，设置一个最小宽度*/  
    background-color: white;
    height: 310px; 
}
a{
	font-size: 14px;
	text-decoration: none;
	color: rgb(126, 126, 126);
	padding: 5px;
}
[title="select_item"]:hover{
	outline: 1px rgb(196, 196, 196) solid;
	background-color: rgb(255, 252, 247);
}
.selected{
	padding: 5px;
	border: 1px rgb(255, 170, 91) solid;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	background-color: rgb(255, 249, 245);
}
.market_content{
	margin: 0 auto;
	width:63%;
	min-width:1150px; /* 防止窗口缩小元素挤到一起，设置一个最小宽度*/
margin-top: 20px;
}
.content-item{
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: white;
}
.market-title{
	font-size:18px;
	font-weight: 600;
	margin-left: 10px;
	margin-top: 20px;
	display: inline-block;
	color: black;
}
[title="m_title"]:hover{
color: rgb(255, 139, 61);
	}
.market-detail{
	font-size:14px;
	margin-left: 16px;
	margin-top: 8px;
	color: rgb(117, 117, 117);
}
[title="market_item"]:hover{
background-color: rgb(255, 250, 244);
}
.footer{
	margin: 0 auto;
	width:63%;
	min-width:1200px; /* 防止窗口缩小元素挤到一起，设置一个最小宽*/
	background:rgb(255, 255, 255);
	margin-top:10px;
	height:230px;
	margin-bottom:10px;
	
}
.footer_item{
	display: inline-block;
	padding: 10px;
	font-size: 13px;
	color: rgb(133, 133, 133);
	margin-top: 30px;
}