blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}
.top{
	display:flex;
	flex-direction:row;
    width:100%;
	min-width:1200px; /* 防止窗口缩小元素挤到一起，设置一个最小宽度*/
	height:110px;
	box-shadow: 0 5px 10px 0 rgba(111,116,132,.1);
	border-bottom: 1px solid #edecec;
	background:white;
}
.logo{
	width:140px;
	height:130px;
	margin-left:100px;
	margin-top:30px;
	font-size:30px;
}
.return{
	display:inline;
	margin-left:880px;
	margin-top:42px;
	font-size:16px;
	text-decoration:none;
	color:#1b80d8;
}
a:hover{
	color:grey;
	text-decoration:underline;
}
.land_bg{
	width:100%;
	min-width:1200px;
	height:560px;
	background-image:url(file:///E:/HuaiNanOkForum/front/images/land-bg.JPG);
	background-attachment: relative;
background-repeat: no-repeat;
background-size: cover;
    overflow: hidden;
}
.tab_style_div{
	margin-top:60px;
}
.tab_style{
color:#1b80d8;
font-size:18px;
margin-left:76px;
text-decoration:none;
}
.land{
	width:400px;
	display:flex;
	height:480px;
	background:white;
	margin-left:830px;
	margin-top:30px;
	border-radius:7px;
	
}
.main_page_input{
	margin-left:40px;
}
input{
	text-indent:10px;
	width:310px;
	height:40px;
	margin-left:5px;
	font-family: microsoft yahei;
	border-radius:6px;
	border:1px #d9d9d9 solid;
}